/**----General Styles
-------**/
* {
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    color: #212121;
    background: #f9f9f9;
    /* font-family: 'Montserrat', sans-serif; */
}

/**----Navbar
-------**/
nav {
    margin-top: 10px;
}
.navbar-nav a {
    font-size: 1.2em;
    text-decoration: none;
    color: #212121;
    margin-right: 40px;
    transition: all 0.5s ease-in;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #fafafa;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0,0.05);
    z-index: 1;
}
.dropdown-content a {
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
}
.dropdown:hover .dropdown-content, .dropdown:active .dropdown-content, .dropdown:focus .dropdown-content {
    display: block;
}
.navbar-nav a:hover, .navbar-nav a.active{
    color: #A52163;
    font-weight: bolder;
}
.navbar img {
    width: 200px;
}
@media (max-width: 1000px) {
    .navbar-nav a {
        font-size: 1em;
    }
    .navbar img{
        width: 120px;
    }
}
@media (max-width: 480px) {
    .navbar-nav a {
        margin-right: 15px;
        font-size: 0.8em;
    }
}

/**----Section
-------**/
.main {
    max-width: 800px;
    margin: auto;
}
.header {
    margin-top: 64px;
}
.header > div {
    /* border: 0.5px solid #A52163; */
    text-align: center;
    border-radius: 5px;
    font-size: 1.4em;
    padding: 16px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in;
}
.header > div:hover {
    color: #fff;
    background: rgba(166, 32, 99, 0.8);
}
.header h4{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
}
.nav-tabs {
    font-family: 'Montserrat', sans-serif;
    /* font-size: 1.1em; */
    font-weight: 600;
    border: none;
    margin: 0;
    padding: 0;
    margin-top: 64px;
}

.nav-tabs .nav-link {
    border: none;
    max-width: 19%;
    text-decoration: none;
    color: #212121;
    transition: all 0.5s ease-in;
}
#nav-mstoks-tab {
    max-width: 23%;
}
@media (max-width: 990px) {
    .nav-tabs {
        font-size: 0.85em;
    }   
}
@media (max-width: 765px) {
    .nav-tabs .nav-link {
        font-size: 0.5em;
        max-width: 70px;
        text-align: center;
    }
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:active, .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #A52163;
    background: #f9f9f9;
    color: #A52163;
    font-weight: bolder;
}
.tab-content {
    position: relative;
}
.tab-pane {
    font-size: 1.4em;
    line-height: 2;
    max-width: 600px;
    margin: auto;
    margin-top: 32px;
}
.tab-pane img {
    float: right;
} 
@media (max-width: 1000px) {
    .tab-pane {
        font-size: 1.1em;
    }
}
.vl {
    border-left: 1px solid #bbbbbb;
    height: 100%;
    position: absolute;
    right: 90%;
}
@media (max-width: 990px) {
    .vl {
        right: 97%;
    }
}
@media (max-width: 765px) {
    .vl {
        display: none;
    }
}
.landpage {
    height: 95px;
    position: sticky;
    float: right;
    bottom: 20px;
}

/**----Footer
-------**/
footer {
    margin-top: 64px;
    margin-bottom: 20px;
}
.foot {
    margin: auto;
}
.copy {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4em;
    margin-bottom: 10px;
}
.copy img {
    width: 120px;
}
.links > div {
    float: right;
    right: 0%;
}
.quicklinks, .contacts {
    font-size: 1.1em;
    opacity: .7;
}
.links p {
    font-family: 'Montserrat', sans-serif;
    opacity: 1;
    font-weight: 500;
    font-size: 1.3em;
}
.quicklinks a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #212121;
}
.quicklinks a:hover {
    color: #A52163;
    font-weight: bolder;
}
.contacts div {
    margin-top: 10px;
}
.contacts div i {
    margin-right: 12px;
}
.facebook, .facebook:hover i{
    color: #385C8E;
}
.twitter, .twitter:hover i{
    color: #03A9F4;
}
.linkedin, .linkedin:hover i{
    color: #0E76A8;
}
.instagram, .instagram:hover i {
    color: #000000;
}
.socials {
    margin-top: 10px;
}
.socials a.media {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: auto;
    border-radius: 50%;
    margin-right:5px;
    box-shadow: 10px 12px 30px
     rgba(0, 0, 0, 0.15); 
}
.socials a i {
    font-size: 1em;
    vertical-align: -webkit-baseline-middle;
    margin: 7px auto 0;
}
.socials:hover a.media {
    color: #212121;
}
@media (max-width: 400px) {
    .socials a.media {
        margin-right: 3px;
    }
    .copy {
        margin-top: 16px;
    }
}
