/**----General Styles
-------**/
* {
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    color: #212121;
    background: #f9f9f9;
    /* font-family: 'Montserrat', sans-serif; */
}

/**----Navbar
-------**/
nav {
    margin-top: 10px;
}
.navbar-nav a {
    font-size: 1.2em;
    text-decoration: none;
    color: #212121;
    margin-right: 40px;
    transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #fafafa;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0,0.05);
    z-index: 1;
}
.dropdown-content a {
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
}
.dropdown:hover .dropdown-content, .dropdown:active .dropdown-content, .dropdown:focus .dropdown-content {
    display: block;
}
.navbar-nav a:hover, .navbar-nav a.active{
    color: #A52163;
    font-weight: bolder;
}
.navbar img {
    width: 200px;
}
@media (max-width: 1000px) {
    .navbar-nav a {
        font-size: 1em;
    }
    .navbar img{
        width: 120px;
    }
}
@media (max-width: 480px) {
    .navbar-nav a {
        margin-right: 15px;
        font-size: 0.8em;
    }
}

/* ----Section 
--------------*/
.main {
    margin-top: 96px;
    max-width: 900px;
    margin: 64px auto;
}
.head {
    font-size: 1.4em;
    margin-bottom: 64px;
    text-align: center;
}
.resize {
    height: 150px;
}
.clickcard {
    text-decoration: none;
    color: #212121;
    text-align: center;
    margin-bottom: 50px;
}
.profile {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    align-items: center;
}
.clickcard:hover {
    text-decoration: none;
    color: #A52163;
}
.profileimg {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin-bottom: 20px;
}
.mstoksimg {
    background: url(../assets/mstoks.jpg)no-repeat;
    background-size: cover;
}
.helenimg {
    background: url(../assets/helen.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}
.olayinkaimg {
    background: url(../assets/olayinka.jpg)no-repeat;
    background-size: cover;
}
.patriciaimg {
    background: url(../assets/patricia.jpg)no-repeat;
    background-size: cover;
}
.remilekunimg {
    background: url(../assets/remilekun.jpeg)no-repeat;
    background-size: cover; 
}
.akindayomiimg {
    background: url(../assets/akindayomi.jpg)no-repeat;
    background-size: cover; 
}
.dorisimg {
    background: url(../assets/doris.jpg)no-repeat;
    background-size: cover; 
}
.profiletitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    font-weight: 600;
}
@media (max-width: 424px) {
    .profileimg {
        width: 90px;
        height: 90px;
    }
    .profiletitle {
        font-size: 1.2em;
    }
}
.modal {
    color: #212121;
}
.title h3 {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
}
.subtitle {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 16px;
    font-weight: 600;
}
.modal-body {
    text-align: left;
}
.modal-body p {
    font-size: 1.2em;
    line-height: 1.8;
}
.landpage {
    height: 95px;
    position: sticky;
    float: right;
    bottom: 20px;
}
/**----Footer
-------**/
footer {
    margin-top: 64px;
    margin-bottom: 20px;
}
.foot {
    margin: auto;
}
.copy {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4em;
    margin-bottom: 10px;
}
.copy img {
    width: 120px;
}
.links > div {
    float: right;
    right: 0%;
}
.quicklinks, .contacts {
    font-size: 1.1em;
    opacity: .7;
}
.links p {
    font-family: 'Montserrat', sans-serif;
    opacity: 1;
    font-weight: 500;
    font-size: 1.3em;
}
.quicklinks a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #212121;
}
.quicklinks a:hover {
    color: #A52163;
    font-weight: bolder;
}
.contacts div {
    margin-top: 10px;
}
.contacts div i {
    margin-right: 12px;
}
.facebook, .facebook:hover i{
    color: #385C8E;
}
.twitter, .twitter:hover i{
    color: #03A9F4;
}
.linkedin, .linkedin:hover i{
    color: #0E76A8;
}
.instagram, .instagram:hover i {
    color: #000000;
}
.socials {
    margin-top: 10px;
}
.socials a.media {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: auto;
    border-radius: 50%;
    margin-right:5px;
    box-shadow: 10px 12px 30px
     rgba(0, 0, 0, 0.15); 
}
.socials a i {
    font-size: 1em;
    vertical-align: -webkit-baseline-middle;
    margin: 7px auto 0;
}
.socials:hover a.media {
    color: #212121;
}
@media (max-width: 400px) {
    .socials a.media {
        margin-right: 3px;
    }
    .copy {
        margin-top: 16px;
    }
}
