/**----General Styles
-------**/
* {
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    color: #212121;
    background: #f9f9f9;
    /* font-family: 'Montserrat', sans-serif; */
}

/**----Navbar
-------**/
nav {
    margin-top: 10px;
}
.navbar-nav a {
    font-size: 1em;
    text-decoration: none;
    color: #212121;
    margin-right: 40px;
    transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}
.navbar-nav a:hover, .navbar-nav a.active{
    color: #A52163;
    font-weight: bolder;
}
.navbar img {
    width: 200px;
}
@media (max-width: 480px) {
    .navbar-nav a {
        margin-right: 15px;
        font-size: 0.8em;
    }
}

/* ----Section 
--------------*/
.main {
    margin-top: 96px;
    max-width: 900px;
    margin: 64px auto;
}
.resize {
    height: 150px;
}
.clickcard {
    text-decoration: none;
    color: #212121;
}
.clickcard:hover {
    text-decoration: none;
    color: #A52163;
}
.card {
    margin-top: 10px; 
}
.card-header {
    background: none;
}
.card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.card-subtitle {
    font-size: 12px;
}
.card-text {
    font-size: 1.2em;
    line-height: 1.8;
}
.card-link {
    font-size: 1.2em;
    font-weight: 600
}
.title h3 {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.subtitle {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 16px;
    font-weight: 600;
}
.modal-body p {
    font-size: 1.2em;
    line-height: 1.8;
}
/**----Footer
-------**/
footer {
    margin-top: 64px;
    margin-bottom: 15px;
}
.copy {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    font-size: 1.4em;
}
.copy i, .copy span {
    margin-right: 5px;
    margin-bottom: 15px;
}
.copy img {
    width: 120px;
    margin-left: 10px;
}
.links > div {
    float: right;
    right: 0%;
}
.quicklinks, .contacts {
    font-size: 1.1em;
    opacity: .7;
}
.links p {
    font-family: 'Montserrat', sans-serif;
    opacity: 1;
    font-weight: 500;
    font-size: 1.3em;
}
.quicklinks a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #212121;
}
.quicklinks a:hover {
    color: #A52163;
    font-weight: bolder;
}
.contacts div {
    margin-top: 10px;
}
.contacts div i {
    margin-right: 12px;
}
.facebook, .facebook:hover i{
    color: #385C8E;
}
.twitter, .twitter:hover i{
    color: #03A9F4;
}
.linkedin, .linkedin:hover i{
    color: #0E76A8;
}
.instagram, .instagram:hover i {
    color: #000000;
}
.socials {
    margin-top: 10px;
}
.socials a.media {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: auto;
    border-radius: 50%;
    margin-right:5px;
    box-shadow: 10px 12px 30px
     rgba(0, 0, 0, 0.15); 
}
.socials a i {
    font-size: 1em;
    vertical-align: -webkit-baseline-middle;
    margin: 7px auto 0;
}
.socials:hover a.media {
    color: #212121;
}
@media (max-width: 400px) {
    .socials a.media {
        margin-right: 3px;
    }
    .copy {
        margin-top: 16px;
    }
}
