/**----General Styles
-------**/
* {
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    color: #212121;
    background: #f9f9f9;
    position: relative
    /* font-family: 'Montserrat', sans-serif; */
}

/**----Navbar
-------**/
nav {
    margin-top: 10px;
}
.navbar-nav a {
    font-size: 1.2em;
    text-decoration: none;
    color: #212121;
    margin-right: 40px;
    transition: all 0.5s ease-in;
}
.navbar-nav a:hover, .navbar-nav a.active{
    color: #A52163;
    font-weight: bolder;
}
.navbar img {
    width: 200px;
}
@media (max-width: 1000px) {
    .navbar-nav a {
        font-size: 1em;
    }
    .navbar img{
        width: 120px;
    }
}
@media (max-width: 480px) {
    .navbar-nav a {
        margin-right: 15px;
        font-size: 0.8em;
    }
}

/*---Section
------------*/
.arms {
    margin-top: 64px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    margin-bottom: 64px;
}
.avatar {
    background: url(../assets/everyone_else.png) no-repeat;
    background-size: contain;
    background-position: center;
    height: 400px;
}
.content {
    position: relative;
}
.services {
    width:200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
}
.info {
    margin-top: 30px;
}
.treatment {
    position: absolute;
    bottom: 5%;
    box-shadow: 0 30px 50px 0 rgba(67, 165, 33, 0.15);
}
.training {
    position: absolute;
    top: 5%;
    left: 25%;
    box-shadow: 0 30px 50px 0 rgba(165, 33, 33, 0.1);
}
.information {
    position: absolute;
    bottom: 0;
    left: 50%;
    box-shadow: 0 30px 50px 0 rgba(165, 33, 99, 0.1);
}
.management {
    position: absolute;
    top: 0;
    left: 75%;
    box-shadow: 0 30px 50px 0 rgba(44, 33, 165, 0.1);
}
.treatment h3, .training h3, .information h3, .management h3 {
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-bottom: 5px;
    max-width: 50%;
    margin: auto;
}

.treatment h3{
    border-bottom: 2px solid #43a521;
}
.training h3{
    border-bottom: 2px solid #A52121;
}
.information h3{
    border-bottom: 2px solid #A52163;
}
.management h3{
    border-bottom: 2px solid #2C21A5;
}
.treatment h5, .training h5, .information h5, .management h5 {
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.6;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 162px;
}
.treatment a, .training a, .information a, .management a {
    font: 600 1.1em 'Montserrat', sans-serif;
    color: #A52163;
    text-decoration: none;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}.treatment a:hover, .training a:hover, .information a:hover, .management a:hover {
    color: #212121;
    text-decoration: none;
}
@media (max-width: 1000px) {
    .services {
        width: 150px;
        height: 150px;
    }
    .treatment h3, .training h3, .information h3, .management h3 {
        font-size: 1.1em;
    }
    .treatment h5, .training h5, .information h5, .management h5 {
        font-size: 1.1em;
        max-width: 125px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (max-width:767px) {
    .avatar {
        display: none;
    }
    .arms {
        margin-bottom: 64px;
    }
    .content {
        margin-top: 104px;
        margin-bottom:104px;
    }
}
@media (max-width: 490px) {
    .services {
        width: 120px;
        height: 120px;
    }
    .treatment h3, .training h3, .information h3, .management h3 {
        font-size: 0.9em;
    }
    .treatment h5, .training h5, .information h5, .management h5 {
        font-size: 0.9em;
        max-width: 105px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .treatment a, .training a, .information a, .management a {
        font-size: 0.7em;
    }
    .content {
        margin-left: 20%;
        margin-top: -20px;
        margin-bottom: -20px;
    }
    .content > div {
        float: left;
        margin-right: 7px;
        margin-bottom: 24px;
    }
    .management, .information, .training, .treatment {
        position: static;
    }
}
/* .treatment:hover {
    background: #43A521;
    color: white;
    border: none;
}
.training:hover {
    background: #A52121;
    color: white;
    border: none;
}
.information:hover {
    background: #A52163;
    color: white;
    border: none;
}
.management:hover {
    background: #2C21A5;
    color: white;
    border: none;
}
.treatment:hover h3, .training:hover h3, .information:hover h3, .management:hover h3 {
    border-bottom: 2px solid white;
}
.treatment:hover a, .training:hover a, .information:hover a, .management:hover a  {
    color: white;
}
.treatment a:hover, .training a:hover, .information a:hover, .management a:hover {
    background: #212121;
    color: #bbbbbb;
    transform: scale(1.1);
    text-decoration: none;
    border: none;
} */
.news {
    display: none;
}
.supportus{
    max-width: 1024px;
    margin: auto;
    margin-top: 64px;
}
.supportus h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.header {
    border-bottom: 2px solid #A52163;
    max-width: 12%;
    padding-bottom: 3px;
    margin: auto;
}
@media (max-width: 800px) {
    h3.header {
        font-size: 14px;
        text-align: center;
        max-width: 20%;
    }
}
.support {
    margin-top: 48px;
    min-height: 220px;    
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
}
.volunteer, .donations {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-around;
}
.volunteer h3, .donations h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}
.volunteer p, .donations p {
    font-size: 1.4em;
    line-height: 1.6;
    opacity: 0.7;
    margin-bottom: 16px;
}
.volunteer a, .donations a {
    float: right;
    padding: 8px 12px;
    font: 600 10px 'Montserrat', sans-serif;
    color: #212121;
    text-decoration: none;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}
.volunteer a:hover, .donations a:hover {
    background: #212121;
    color: #bbbbbb;
    border: none;
    transform: scale(1.1);
}
.handbook {
    text-align: center;
}
.handbook img {
    height: 170px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
.handbook a {
    float: none;
    font-size: 1.2em;
    padding: 0;
    border: none;
    color: #212121;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}
.handbook a:hover {
    background: none;
    color: #A52163;
    transform: none;
    text-decoration: underline;
}
.vl {
    border-left: 1px solid #bbbbbb;
    margin-left: 2px;
}
.landpage {
    height: 95px;
    position: sticky;
    float: right;
    bottom: 20px;
}

/**----Footer
-------**/
footer {
    margin-top: 64px;
    margin-bottom: 20px;
}
.foot {
    margin: auto;
}
.copy {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4em;
    margin-bottom: 10px;
}
.copy img {
    width: 120px;
}
.links > div {
    float: right;
    right: 0%;
}
.quicklinks, .contacts {
    font-size: 1.1em;
    opacity: .7;
}
.opaque {
    opacity: 1;
    font-size: 1.4em;
}
.links p {
    font-family: 'Montserrat', sans-serif;
    opacity: 1;
    font-weight: 500;
    font-size: 1.3em;
}
.quicklinks a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #212121;
}
.quicklinks a:hover {
    color: #A52163;
    font-weight: bolder;
}
.contacts div {
    margin-top: 10px;
}
.contacts div i {
    margin-right: 12px;
}
.facebook, .facebook:hover i{
    color: #385C8E;
}
.twitter, .twitter:hover i{
    color: #03A9F4;
}
.linkedin, .linkedin:hover i{
    color: #0E76A8;
}
.instagram, .instagram:hover i {
    color: #000000;
}
.socials {
    margin-top: 10px;
}
.socials a.media {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: auto;
    border-radius: 50%;
    margin-right:5px;
    box-shadow: 10px 12px 30px
     rgba(0, 0, 0, 0.15); 
}
.socials a i {
    font-size: 1em;
    vertical-align: -webkit-baseline-middle;
    margin: 7px auto 0;
}
.socials:hover a.media {
    color: #212121;
}
@media (max-width: 400px) {
    .socials a.media {
        margin-right: 3px;
    }
    .copy {
        margin-top: 16px;
    }
}
