/**----General Styles
-------**/
* {
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    color: #212121;
    background: #f9f9f9;
    /* font-family: 'Montserrat', sans-serif; */
}

/**----Navbar
-------**/
nav {
    margin-top: 10px;
}
.logo img{
    width: 200px;
    float: right;
    clear: both;
}
@media (max-width: 1000px) {
    .logo img{
        width: 120px;
    }
}

/* --Section-- */
.main {
    clear: both;    
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    flex-direction: row;
}
.main a {
    text-decoration: none;
}
.avatar {
    background: url(../assets/parent.png) no-repeat;
    background-size: contain;
    background-position: center;
    height: 400px;
    /* margin-top: -60px; */
}
.image {
    background: url(../assets/doorclosed.png) no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
}

.label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    color: #212121;
    font-weight: 500;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    -webkit-transition-delay: 500ms;
    margin-top: 28px;
}
.explore:hover .image{
    background: url(../assets/dooropen.png) no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}
.explore:hover .label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    color: #A52163;
    font-weight: bolder;
}
.portal:hover .image, .portal:active .image, .portal:focus .image {
    background: url(../assets/lock.png) no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}
.portal:hover .label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    color: #212121;
    opacity: 0.7;
}
@media (max-width: 580px) {
    .avatar {
        display: none;
    }
    .image {
        margin-top: 24px;
        height: 170px;
    }
    .main {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .label {
        margin-top: 10px;
        font-size: 1.4em;
    }
    .explore:hover .image{
        height: 170px;
    }
    .portal:hover .image, .portal:active .image, .portal:focus .image {
        height: 170px;
    }   
}
.landpage {
    height: 95px;
    position: sticky;
    float: right;
    bottom: 20px;
}


/**----Footer
-------**/
footer {
    margin-top: 64px;
    margin-bottom: 20px;
}
.foot {
    margin: auto;
}
.copy {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4em;
    margin-bottom: 10px;
}
.copy img {
    width: 120px;
}
.links > div {
    float: right;
    right: 0%;
}
.quicklinks, .contacts {
    font-size: 1.1em;
    opacity: .7;
}
.links p {
    font-family: 'Montserrat', sans-serif;
    opacity: 1;
    font-weight: 500;
    font-size: 1.3em;
}
.quicklinks a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #212121;
}
.quicklinks a:hover {
    color: #A52163;
    font-weight: bolder;
}
.contacts div {
    margin-top: 10px;
}
.contacts div i {
    margin-right: 12px;
}
.facebook, .facebook:hover i{
    color: #385C8E;
}
.twitter, .twitter:hover i{
    color: #03A9F4;
}
.linkedin, .linkedin:hover i{
    color: #0E76A8;
}
.instagram, .instagram:hover i {
    color: #000000;
}
.socials {
    margin-top: 10px;
}
.socials a.media {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: auto;
    border-radius: 50%;
    margin-right:5px;
    box-shadow: 10px 12px 30px
     rgba(0, 0, 0, 0.15); 
}
.socials a i {
    font-size: 1em;
    vertical-align: -webkit-baseline-middle;
    margin: 7px auto 0;
}
.socials:hover a.media {
    color: #212121;
}
@media (max-width: 400px) {
    .socials a.media {
        margin-right: 3px;
    }
    .copy {
        margin-top: 16px;
    }
}

