/**----General Styles
-------**/
* {
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(0,0, 0, 0.3), rgba(0, 0, 0, 0.7));
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
html {
    height: 100%;
}
nav {
    margin-top: 20px;
}
.logo img{
    width: 200px;
    float: right;
    clear: both;
}

/* ----Section 
-------------- */
.main {
    clear: both;
}
.main h3 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.main h5 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    opacity: 0.8;
    margin-top: 64px;
}
.xter {
    margin-top: 32px;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}
#user1 {
    display: none;
}
@media (max-width: 575px) {
    .logo img {
        width: 150px;
    }
    .main h3 {
        font-size: 1.8em; 
        padding-top: 32px;
    }
    .main h5 {
        font-size: 1.4em;
        margin-top: 48px;
    }
    .xter {
        position: relative;
        display: block;
    }
    .xter .image {
        height: 200px;
    }
    #user1 {
        display: block;
    }
    #user2 {
        display: none;
    }
}
.xter:hover {
    text-decoration: none;
}
.xter:hover .image {
    transform: scale(1.1);
}
.xter:hover .label{
    text-decoration: none;
    color:#A52163;
    font-weight: bolder;
}
.parents .image {
    background: url(../assets/parent.png) no-repeat;
    background-size: contain;
    background-position: center;
    height: 320px;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}
.professionals .image {
    background: url(../assets/professional.png) no-repeat;
    background-size: contain;
    background-position: center;
    height: 320px;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}
.everyone .image {
    background: url(../assets/everyone_else.png) no-repeat;
    background-size: contain;
    background-position: center;
    height: 320px;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}
.label {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    color: #f4f4f4;
    transition-delay: 300ms;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}
@media (max-width: 575px) {
    .xter .image {
        height: 200px;
    }
    /* .xter .image {
        height: 200px;
        opacity: 0.7;
        z-index: -1;
    }
    .xter .label {
        position: absolute;
        left: 35%;
        top: 37%;
        font-size: 1.4em;
        z-index: 2;
        background: #000000;
        padding: 8px;
        max-width: 120px;
    }
    .parents .label {
        left: 42%;
    }  */
}